.home-index {
  > .selection-popup {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  
    > .popup {
      box-shadow: 0 5px 8px gray;
      border-radius: 5px;
      position: absolute;
      top: 43%;
      left: 6%;
      z-index: 3;
      background-color: white;
  
      > .section {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
  
        &:hover {
          background-color: rgba(155, 155, 155, 0.3);
          cursor: pointer;
        }
  
        > .nuxtLink {
          display: flex;
          align-items: center;
  
          > .icon {
            &.-link {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  
    .overlay {
      height: 100%;
      width: 100%;
      z-index: 2;
    }
  }
}